#nav_list a {
    text-decoration: none;
    color: #ddd;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
    overflow: hidden;

}

canvas {
    width:50%;
    max-width:300px;
    max-height:300px;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(205, 255, 195, 0.5);
}

.card {
    height: 300px;
    width: 350px;
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 10px 5px 5px green;
}

.card-grid {
    grid-template-rows: 20px 1fr 20px;
}


.chart {
    margin-left: 25px;
}


.container {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container.showcase {
    height: 100vh;
}

.content {
    background-color: #0a4a03;
    grid-template-rows: 50px 40px 1fr;
}

.drop_down_menu{
    margin-top: 20px;
    margin-left: 30px;
}
.flex {
    display: flex;
    height: 100%;
}

.flex.graph {

    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}


h4 {
    padding-left: 20px;
}
h3 {
    margin: auto;
    margin-left: 5px;

}
img {
    margin-top: 3px;
    margin-left: 5px;
    height:45px;
    width:45px;
    border-radius: 50%;
    border: 1px solid;
    border-color: green;
}

img:hover {
    overflow: visible;
    border: 2px solid;
    height:50px;
    width:50px;
    border-color: lightgreen;
    padding: 0;
    -webkit-transition: .1s;
    transition: .1s;
    cursor: pointer;
}

.instance {
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    width: 90%;

}
.instance.status {
    display: flex;
    justify-content: space-between;
}


input:checked + .slider {
  background-color: #027302;
}

input:focus + .slider {
  box-shadow: 0 0 1px #027302;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.grid {
    display: grid;
    height: 100%;
}


#nav_list li {
    list-style-type: none;
    text-align: left;
    padding: 20px 30px;
    width: 100%;
    left: 0;
}
#nav_list li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-decoration: none;
}


.main {
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
}


.menu_bar.flex {
    height: 50px;
    background-color: #027302;
}

.menu_button {
    margin-right: 10px;
}

.nav {
    color: #ddd;
    background: -webkit-linear-gradient(bottom, #73ed0e, #027302);
}

.nav.container{
    width: 100%;
}

.nav_button {
    width: 50%;
}

.profile {
    display: flex;
}

.profile.container{
    margin-left: 10px;
    width: auto;
}

select {
    height: 30px;
}

.selector.flex {
    justify-content: flex-start;
}

.showcase {
    grid-template-columns: 240px 1fr;
    height: 100%;
    width:100%;
    margin :0;
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#nav_list ul {
    text-decoration: none;
    width: 100%;
    margin-left: 0px;
    padding: 0;
    margin-top: 80px;
}
#nav_list {
    margin: 0;
    padding: 0;
    margin-top: 80px;
    width: 100%;

}



#menuToggle
{
  display: block;
  margin: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  text-align: right;
  width: 100%;
}

nav {
    width: 160px;
    height: 200px;
    padding: 2px;
}


#menuToggle a
{
  text-align: right;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}


#menuToggle input
{
  display: block;
  width: 60px;
  margin-left: 100px;
  margin-top: 0px;
  margin-right: 10px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2; /* places over hamburger */

  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 5px;
  margin-top: 7px;
  margin-left: 110px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}


#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:hover+input:checked ~ span {
    background: lightgreen;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(2px, 0px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(4px, -1px);
}



#menu {
    position: absolute;
    top: -16px;
    background: white;
    width: 110px;
    right: 0;
    -webkit-font-smoothing: antialiased;
    padding-right: 20px;
    padding-top: 46px;
    padding-left: 20px;

    transform-origin: 0% 0%;
    transform: translate(120%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a {
    text-decoration: none;

}
#menu li
{
  list-style-type: none;
  text-align: right;
  font-size: 14px;
  margin: 10px 0px;
  overflow: visible;
  display: inline-block;
}

#menu li:hover{
    width: 100%;
    height: 100%;
    color: lightgreen;
    border-bottom: 1px solid lightgreen;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}